# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# http://doc.scrapy.org/en/latest/topics/scrapyd.html

[settings]
default = pycon_speakers.settings

[deploy]
url = http://dash.scrapinghub.com/api/scrapyd/
project = 2878
version = GIT
